@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 720px;
    margin: 0 auto;
    background: #0d1117;
    color: #e6edf3;
    font-family: "Roboto", sans-serif;
}

button,
input,
textarea,
select {
    font: inherit;
}

nav ul {
    list-style-type: none;
}

a {
    color: #79c0ff;
    text-decoration: none;
}

a:visited {
    color: #d2a8ff;
}

a:hover,
a:focus {
    color: #56d364;
}

a:active {
    color: #ffa198;
}

h1,
h2,
h3 {
    font-family: "Inconsolata", monospace;
    font-weight: 900;
}

ul,
ol,
dl,
p {
    line-height: 1.5;
}

h1 {
    font-size: 2.125rem;
}

h2 {
    font-size: 1.625rem;
}

h3 {
    font-size: 1.25rem;
}

code {
    font-size: 1rem;
}

main ol,
main ul {
    padding-left: 2.5rem;
}

dt {
    font-style: oblique;
    color: #e3b341;
}

dd {
    padding-left: 2.5rem;
}

abbr {
    font-weight: 500;
}

mark {
    display: inline-block;
    padding: 0.2rem;
    background: hsla(128, 49%, 49%, 0.5);
    color: #e6edf3;
}

table,
tr,
th,
td,
caption {
    border: 1px solid #e6edf3;
    border-collapse: collapse;
    padding: 0.5rem;
}

.tag {
    color: #7ee787;
}