@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    min-height: 100vh;
    max-width: 720px;
    margin: 0 auto;
    background: #0d1117;
    color: #e6edf3;
    font-family: "Roboto", sans-serif;
}

button,
input,
textarea,
select {
    font: inherit;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1rem;
    border: 1px solid #30363d;
    background-color: #161b22;
}

header ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul {
    list-style-type: none;
}

a {
    color: #79c0ff;
    text-decoration: none;
}

a:visited {
    color: #d2a8ff;
}

a:hover,
a:focus {
    color: #56d364;
}

a:active {
    color: #ffa198;
}

hr {
    margin: 1rem 0;
}

h1,
h2,
h3 {
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-weight: 900;
}

#getting-started,
#dev-learning,
#contact {
    scroll-margin-top: 8rem;
}

figure {
    margin-bottom: 1rem;
}

figcaption {
    text-align: center;
}

main ul,
main ol,
main dl {
    margin-top: 0.75rem;
    line-height: 1.5;
}

main p {
    margin: 0.75rem 0;
    line-height: 1.5;
}

h1 {
    font-size: 2.125rem;
}

h2 {
    font-size: 1.625rem;
}

h3 {
    font-size: 1.25rem;
}

main {
    padding: 1rem;
    border-left: 1px solid #30363d;
    border-right: 1px solid #30363d;
}

.html5-logo {
    margin: 0 auto;
    width: 60%;
}

figcaption {
    margin-top: 1rem;
}

.code-snippet {
    text-align: center;
}

code {
    font-size: 1rem;
}

.tag {
    color: #7ee787;
}

main ol,
main ul {
    margin-bottom: 1rem;
    padding: 0 2.5rem;
}

mark {
    display: inline-block;
    padding: 0.25rem;
    background: hsla(128, 49%, 49%, 0.5);
    color: #e6edf3;
}

abbr {
    font-weight: 500;
}

summary {
    cursor: pointer;
}

.my-daily-workflow {
    display: grid;
    border: none;
    gap: 0.1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "cap cap cap"
        "hdr1 hdr2 hdr3"
        "mor mort morf"
        "mor mort morf"
        "mid midt midf"
        "aft aftt aftf"
        "eve evet evef"
        "eve evet evef"
        "nit nitt nitf"
        "ftr ftr ftr"
    ;
    margin-bottom: 1em;
}

.wf-caption,
.wf-header,
.wf-footer {
    background: #161b22;
}

.wf-caption {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    grid-column: span 3;
    font-family: "Inconsolata", monospace;
    font-size: 1.25rem;
    font-weight: 900;
}

.wf-header {
    font-family: "Inconsolata", monospace;
    font-size: 1.125rem;
    font-weight: 800;
}

thead,
tbody,
tfoot,
tr {
    display: contents;
}

.wf-item {
    place-content: center;
    height: 100%;
    text-align: center;
}

.wf-header,
.wf-item {
    padding: 0.75em;
    width: 100%;
    border: 2px solid #30363d;
}

.wf-mor {
    grid-area: mor;
}

.wf-mid {
    grid-area: mid;
}

.wf-aft {
    grid-area: aft;
}

.wf-eve {
    grid-area: eve;
}

.wf-nit {
    grid-area: nit;
}

.wf-footer {
    grid-column: span 3;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dave-gray-scrnshot {
    margin: 0 auto;
    width: 80%;
}

address {
    margin: 0.5rem 0;
    text-align: center;
    font-family: "Inconsolata", monospace;
}

.fcc-logo {
    margin: 0 auto;
    width: 80%;
}

dt {
    font-style: oblique;
    color: #e3b341;
}

dd {
    padding-left: 2.5rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: 4px;
}

fieldset legend {
    padding: 0 0.5rem;
    font-family: "Inconsolata", monospace;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}

fieldset p {
    margin: 0;
}

fieldset label,
fieldset input {
    margin: 0 0 0 0.5rem;
}

fieldset input {
    padding: 0.25rem;
    border-radius: 4px;
}

fieldset select {
    margin: 0.75rem 0 0 0.75rem;
    padding: 0.5rem;
}

select option {
    cursor: pointer;
}

fieldset textarea {
    padding: 0.5rem;
    width: 100%;
    resize: none;
    border-radius: 4px;
}

.button-container {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    padding: 0;
    border: none;
    justify-content: space-evenly;
}

.button-container legend {
    display: none;
}

.button-container button {
    padding: 0.25rem 1.25rem;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding: 0.5rem;
    border: 1px solid #30363d;
    background-color: #161b22;
}

footer p {
    margin: 0.5rem;
    text-align: center;
}

/* || MOBILE L */
@media screen and (min-width: 374.99px) {
    .button-container button {
        padding: 0.25rem 1.75rem;
    }
}

/* || TABLET S */
@media screen and (min-width: 539.99px) {
    .button-container button {
        padding: 0.25rem 3rem;
    }
}

/* || TABLET L */
@media screen and (min-width: 767.99px) {
    .button-container button {
        padding: 0.25rem 5rem;
    }
}

/* || MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    body {
        max-width: none;
    }

    .button-container button {
        padding: 0.25rem 5rem;
    }
}